<!-- [ Header Topbar ] start -->
<header class="pc-header">
  <div class="m-header">
    <a href="/" class="pc-link">
      <!-- ========   change your logo hear   ============ -->
      <img src="{{ url_for('static', filename='assets/images/logo-dark.svg') }}" alt="" class="logo logo-lg" />
    </a>
    <!-- ======= Menu collapse Icon ===== -->
    <div class="pc-h-item">
      <a href="#" class="pc-head-link head-link-secondary m-0" id="sidebar-hide">
        <i class="ti ti-menu-2"></i>
      </a>
    </div>
  </div>
  <div class="header-wrapper"> <!-- [Mobile Media Block] start -->
<div class="me-auto pc-mob-drp">
  <ul class="list-unstyled">
    <li class="pc-h-item header-mobile-collapse">
      <a href="#" class="pc-head-link head-link-secondary ms-0" id="mobile-collapse">
        <i class="ti ti-menu-2"></i>
      </a>
    </li>
    <li class="dropdown pc-h-item d-inline-flex d-md-none">
      <a class="pc-head-link head-link-secondary dropdown-toggle arrow-none m-0" data-bs-toggle="dropdown" href="#"
        role="button" aria-haspopup="false" aria-expanded="false">
        <i class="ti ti-search"></i>
      </a>
      <div class="dropdown-menu pc-h-dropdown drp-search">
        <form class="px-3">
          <div class="form-group mb-0 d-flex align-items-center">
            <i class="ti ti-search"></i>
            <input type="search" class="form-control border-0 shadow-none" placeholder="Search here..." />
          </div>
        </form>
      </div>
    </li>
    <li class="pc-h-item d-none d-md-inline-flex">
      <form class="header-search">
        <i class="ti ti-search icon-search"></i>
        <input type="search" class="form-control" placeholder="Search here..." />
        <button class="btn btn-light-secondary btn-search"><i class="ti ti-adjustments-horizontal"></i></button>
      </form>
    </li>
  </ul>
</div>
<!-- [Mobile Media Block end] -->
<div class="ms-auto">
  <ul class="list-unstyled">

    <li class="pc-h-item">
      <label class="pc-head-link head-link-secondary arrow-none me-0">
        <input type="checkbox" id="p_dark_mode" class="d-none">
        <i class="ti ti-sun" id="p_mode_icon"></i>
      </label>
    </li>


    <li class="dropdown pc-h-item">
      <a class="pc-head-link head-link-secondary dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#"
          role="button" aria-haspopup="false" aria-expanded="false">
          <i class="ti ti-shopping-cart"></i>
      </a>
      <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
          <div class="dropdown-header">
              <h5>Cart Items <span class="badge bg-warning rounded-pill ms-1">3</span></h5>
          </div>
          <div class="dropdown-header px-0 text-wrap header-notification-scroll position-relative"
              style="max-height: calc(100vh - 215px)">
              <!-- List group items for each product in the cart -->
              <div class="list-group list-group-flush w-100">
                  <a class="list-group-item list-group-item-action">
                      <div class="d-flex">
                          <div class="flex-shrink-0">
                              <img src="{{ url_for('static', filename='assets/images/product/product-1.jpg') }}" alt="product-image" class="user-avtar" />
                          </div>
                          <div class="flex-grow-1 ms-1">
                              <h5>Product Name</h5>
                              <p class="text-body fs-6">Quantity: 1</p>
                              <div class="badge rounded-pill bg-light-info">Price: $20</div>
                          </div>
                      </div>
                  </a>
                  <!-- Repeat for other products -->
              </div>
          </div>
          <div class="dropdown-divider"></div>
          <div class="text-center py-2">
              <a href="{{ url_for('home_blueprint.order_page') }}" class="link-primary">View Cart</a>
          </div>
      </div>
    </li>
  </ul>
</div>
 </div>
</header>
<!-- [ Header ] end -->
