<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="index.html" class="b-brand">
        <img src="{{ url_for('static', filename='assets/images/relaxingkoala.svg') }}" alt="" class="logo logo-lg" />
      </a>
    </div>
    
    <div class="navbar-content">
      <ul class="pc-navbar">
        
        <li class="pc-item">
          <a href="/" class="pc-link">
            <span class="pc-micon"><i class="ti ti-dashboard"></i></span>
            <span class="pc-mtext">Home</span></a>
        </li>

        <li class="pc-item">
          <a href="/menu-page" class="pc-link">
            <span class="pc-micon"><i class="ti ti-layout"></i></span>
            <span class="pc-mtext">Menu</span></a>
        </li>

        <li class="pc-item">
          <a href="/cart" class="pc-link">
            <span class="pc-micon"><i class="ti ti-shopping-cart"></i></span>
            <span class="pc-mtext">Cart</span></a>
        </li>

        <li class="pc-item">
          <a href="/about" class="pc-link">
            <span class="pc-micon"><i class="ti ti-user"></i></span>
            <span class="pc-mtext">About Us</span></a>
        </li>

        <li class="pc-item">
          <a href="/contact" class="pc-link">
            <span class="pc-micon"><i class="ti ti-tag"></i></span>
            <span class="pc-mtext">Contact Us</span></a>
        </li>

        <!-- Profile Options Based on User Connected -->
        {% if current_user.is_authenticated %}
          <li class="pc-item">
            <a href="{{ url_for('authentication_blueprint.logout') }}" class="pc-link">
              <span class="pc-micon"><i class="ti ti-user"></i></span>
              <span class="pc-mtext">Logout</span></a>
          </li>
          {% else %}
          <li class="pc-item">
            <a href="{{ url_for('authentication_blueprint.login') }}" class="pc-link">
              <span class="pc-micon"><i class="ti ti-user"></i></span>
              <span class="pc-mtext">Login</span></a>
          </li>
          <li class="pc-item">
            <a href="{{ url_for('authentication_blueprint.register') }}" class="pc-link">
              <span class="pc-micon"><i class="ti ti-user"></i></span>
              <span class="pc-mtext">Register</span></a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->
