{% extends 'layouts/base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}

 <div class="pc-container">
    <div class="pc-content">
      <div class="page-header">
        <div class="page-block">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="page-header-title">
                <h5 class="m-b-10">Contact Us</h5>
              </div>
              <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page">Contact Us</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>Contact Us 🍔</h5>
              <p>Have any issues or just want to ask a question? Fill out the form below.</p>
            </div>
            <div class="card-body">

                <h1>PUT YOUR CONTENT HERE</h1>

            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>
{% endblock %}
