{% extends 'layouts/base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}

<div class="pc-container">
    <div class="pc-content">

        <div class="page-header">
            <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Menu</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page">Orders</li>
                </ul>
                </div>
            </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                    <h5>Current Orders</h5>
                    <p>All customer orders</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table align-items-center mb-0">
                            <thead>
                              <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Customer Name</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phone No.</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order Date</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Items</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Payment Status</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delivery Option</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delivery Status</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% if orders %}
                                    {% for order in orders %}
                                        <tr>
                                            <td>
                                                <p class="mb-0 text-md">{{ order.customer_name }}</p>
                                            </td>
                                            <td>
                                                <span class="mb-0 text-md">{{ order.email }}</span>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <p class="mb-0 text-md">{{ order.phone_number }}</p>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <p class="mb-0 text-md">${{ order.total_amount }}</p>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <p class="mb-0 text-md">{{ order.order_date }}</p>
                                            </td>
                                            <td>
                                                <ul>
                                                    {% for item in order.items %}
                                                    <li>{{ item.name }} - ${{ item.price }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <p class="mb-0 text-md">{{ order.payment_status }}</p>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <p class="mb-0 text-md">{{ order.delivery_option }}</p>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <p class="mb-0 text-md">{{ order.delivery_status }}</p>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <td>
                                        <p class="mb-0 text-sm">No orders at the moment. Wait for customers to order!</p>
                                    </td>
                                {% endif %}
                            </tbody>
                          </table>
                    </div>
                </div>
              </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
