{% extends 'layouts/base.html' %}

{% block title %}Menu{% endblock %}

{% block content %}

<div class="pc-container">
    <div class="pc-content">

        <div class="page-header">
            <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Menu</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="/menu">Menu</a></li>
                    <li class="breadcrumb-item" aria-current="page">Manage Menu Items</li>
                </ul>
                </div>
            </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                    <h5>Manage Menu Items 🍔</h5>
                    <p>Edit any of the current menu items</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <table class="table align-items-center mb-0">
                            <thead>
                              <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% if items %}
                                    {% for item in items %}
                                        <tr>
                                            <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img src="../static/assets/images/menu_pics/{{item.image_file}}" alt="{{ item.name }}" style="width: 100px;">
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                                <p class="mb-0 text-md">{{ item.name }}</p>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <span class="mb-0 text-md">${{ item.price }}</span>
                                            </td>
                                            <td class="align-middle text-center text-md">
                                                <form method="POST" action="{{ url_for('home_blueprint.delete_menu_item', item_id=item.id) }}">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <td>
                                        <p class="mb-0 text-sm">No items stored at the moment. Please add some!</p>
                                    </td>
                                {% endif %}
                            </tbody>
                          </table>
                    </div>
                </div>
              </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}